<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>cflow</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>
	    Resource reference to a factory for java.sql.Connection
	  </description>
    <res-ref-name>jdbc/cflow</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <description></description>
    <display-name>doTask</display-name>
    <servlet-name>doTask</servlet-name>
    <servlet-class>com.lkh.cflow.servlet.doTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doTask</servlet-name>
    <url-pattern>/doTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrcDirector</display-name>
    <servlet-name>PrcDirector</servlet-name>
    <servlet-class>com.lkh.cflow.servlet.PrcDirector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrcDirector</servlet-name>
    <url-pattern>/PrcDirector</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.lkh.cflow.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoRegister</display-name>
    <servlet-name>DoRegister</servlet-name>
    <servlet-class>com.lkh.cflow.servlet.DoRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoRegister</servlet-name>
    <url-pattern>/DoRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveWft</display-name>
    <servlet-name>SaveWft</servlet-name>
    <servlet-class>com.lkh.cflow.servlet.SaveWft</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveWft</servlet-name>
    <url-pattern>/SaveWft</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XdownloadWft</display-name>
    <servlet-name>XdownloadWft</servlet-name>
    <servlet-class>com.lkh.cflow.servlet.XdownloadWft</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XdownloadWft</servlet-name>
    <url-pattern>/XdownloadWft</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XdownloadWorkflow</display-name>
    <servlet-name>XdownloadWorkflow</servlet-name>
    <servlet-class>com.lkh.cflow.servlet.XdownloadWorkflow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XdownloadWorkflow</servlet-name>
    <url-pattern>/XdownloadWorkflow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XdownloadPrc</display-name>
    <servlet-name>XdownloadPrc</servlet-name>
    <servlet-class>com.lkh.cflow.servlet.XdownloadPrc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XdownloadPrc</servlet-name>
    <url-pattern>/XdownloadPrc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MonitorDirector</display-name>
    <servlet-name>MonitorDirector</servlet-name>
    <servlet-class>com.lkh.cflow.servlet.MonitorDirector</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonitorDirector</servlet-name>
    <url-pattern>/MonitorDirector</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>db.tcpServer</param-name>
    <param-value>-tcpAllowOthers</param-value>
  </context-param>
  <listener>
    <listener-class>
             com.lkh.cflow.servlet.QuartzInitializerListener
         </listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>XGetUserWfts</display-name>
    <servlet-name>XGetUserWfts</servlet-name>
    <servlet-class>com.lkh.cflow.servlet.XGetUserWfts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XGetUserWfts</servlet-name>
    <url-pattern>/XGetUserWfts</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DruidStatView</servlet-name>
    <servlet-class>com.alibaba.druid.support.http.StatViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DruidStatView</servlet-name>
    <url-pattern>/druid/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>XSaveWft</display-name>
    <servlet-name>XSaveWft</servlet-name>
    <servlet-class>com.lkh.cflow.servlet.XSaveWft</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XSaveWft</servlet-name>
    <url-pattern>/XSaveWft</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>XSaveWorkflow</display-name>
    <servlet-name>XSaveWorkflow</servlet-name>
    <servlet-class>com.lkh.cflow.servlet.XSaveWorkflow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>XSaveWorkflow</servlet-name>
    <url-pattern>/XSaveWorkflow</url-pattern>
  </servlet-mapping>
  <listener>
    <description>sessionListener</description>
    <listener-class>  
         com.lkh.cflow.listener.SessionListener
     </listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>AcqAdmin</display-name>
    <servlet-name>AcqAdmin</servlet-name>
    <servlet-class>com.lkh.cflow.servlet.AcqAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcqAdmin</servlet-name>
    <url-pattern>/Acq</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WftMode</display-name>
    <servlet-name>WftMode</servlet-name>
    <servlet-class>com.lkh.cflow.servlet.WftMode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WftMode</servlet-name>
    <url-pattern>/WftMode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.lkh.cflow.rs</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestScriptWeb</display-name>
    <servlet-name>TestScriptWeb</servlet-name>
    <servlet-class>com.lkh.cflow.test.TestScriptWeb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestScriptWeb</servlet-name>
    <url-pattern>/TestScriptWeb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestContractApprover</display-name>
    <servlet-name>TestContractApprover</servlet-name>
    <servlet-class>com.lkh.cflow.test.TestContractApprover</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestContractApprover</servlet-name>
    <url-pattern>/TestContractApprover</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VTFileUploader</display-name>
    <servlet-name>VTFileUploader</servlet-name>
    <servlet-class>com.lkh.cflow.servlet.VTFileUploader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VTFileUploader</servlet-name>
    <url-pattern>/VTFileUploader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoLogin</display-name>
    <servlet-name>DoLogin</servlet-name>
    <servlet-class>com.lkh.cflow.servlet.DoLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLogin</servlet-name>
    <url-pattern>/DoLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdentityUploader</display-name>
    <servlet-name>IdentityUploader</servlet-name>
    <servlet-class>com.lkh.cflow.servlet.IdentityUploader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdentityUploader</servlet-name>
    <url-pattern>/IdentityUploader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestTimeout</display-name>
    <servlet-name>TestTimeout</servlet-name>
    <servlet-class>com.lkh.cflow.test.TestTimeout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestTimeout</servlet-name>
    <url-pattern>/TestTimeout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VTContentUploader</display-name>
    <servlet-name>VTContentUploader</servlet-name>
    <servlet-class>com.lkh.cflow.servlet.VTContentUploader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VTContentUploader</servlet-name>
    <url-pattern>/VTContentUploader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestSL1</display-name>
    <servlet-name>TestSL1</servlet-name>
    <servlet-class>com.lkh.cflow.test.TestSL1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestSL1</servlet-name>
    <url-pattern>/TestSL1</url-pattern>
  </servlet-mapping>
</web-app>